{% extends 'main.html' %}

{% block content %}


<!-- Project Section Starts Here -->
<section class="project-container">
    <h2>Projects from creatives you follow and more</h2>
    <div class="project-wrapper">

        {% for work in works %}

        <!-- First Project Card -->
        <div class="projects">
            <img src="{{work.Cover.url}}" alt="">
            <div class="projects-info">
                <div class="user">
                    <img src="{{work.profile.dp.url}}" alt="">
                    <p>{{work.profile.name}}</p>
                </div>
                <div class="photo-stats">
                    <p><i class="fas fa-thumbs-up"></i>{{work.appreciate_set.all.count}}</p>
                    
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
</section>




{% endblock content %}