{% extends 'main.html' %}

{% block content %}



<img src="{{work.Cover.url}}" alt="cover">
<p>{{work.title}}</p>
<p>{{work.profile.name}}</p>

<form action="{% url 'work_single' work.id %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" >
</form>

{% if like %}
<a href="{% url 'appreciate' work.id %}">unappreciate</a>
{% else %}
<a href="{% url 'appreciate' work.id %}">appreciate</a>
{% endif %}

<p>{{work.appreciate_set.count}}</p>



{% for comment in work.comment_set.all %}
{% if comment.text %}
<h2>Comments</h2>
<br>

<p>{{comment.text}}</p>
<p>{{comment.profile.name}}</p>
<p>{{comment.coment_date}}</p>
{% endif %}
<br>
{% endfor %}

{% endblock content %}
