{% extends 'main.html' %}

{% block content %}


<!-- Project Section Starts Here -->
<section class="project-container">
    <h2>Projects from creatives you follow and more</h2>
    <div class="project-wrapper">

        {% for work in works %}

        <!-- First Project Card -->
        <div class="projects">
           <a href="{% url 'work_single' work.id %}"><img src="{{work.Cover.url}}" alt=""></a> 
            <div class="projects-info">
                <div class="user">
                    <img src="image/users/user1.jpg" alt="">
                    <p>{{work.profile.name}}</p>
                </div>
                <div class="photo-stats">
                    <p><i class="fas fa-thumbs-up"></i>425</p>
                    <p><i class="fas fa-eye"></i>2.3k</p>
                </div>
            </div>
        </div>

        {% endfor %}


        
        
    </div>
</section>
{% if works.has_other_pages %}
        <div>
            <ul>
                {% if works.has_previous %}
                <li><a href="?page={{works.previous_page_number}}">&#10094; Prev</a></li>
                {% endif %}

                {% for page in paginator.page_range %}

                {% if page == works.number %}
                <li><a href="?page={{page}}" style="color:red;" >{{page}}</a></li>
                {% else %}
                <li><a href="?page={{page}}">{{page}}</a></li>
                {% endif %}
                {% endfor %}
                {% if works.has_next %}
                <li><a href="?page={{works.next_page_number}}">Next &#10095;</a></li>
                {% endif %}


            </ul>
        </div>
        {% endif %}




{% endblock content %}
