{% extends 'main.html' %}

{% block content %}


<!-- Project Section Starts Here -->
<section class="project-container">
    <h3>Projects from creatives you follow and more</h3>
    <div class="project-wrapper">

        {% for work in works %}

        <!-- First Project Card -->
        <div class="projects">
           <a href="{% url 'work_single' work.id %}"><img src="{{work.Cover.url}}" alt=""></a> 
            <div class="projects-info">
                <div class="user">
                    <img src="{{work.profile.dp.url}}" alt="">
                    {% if request.user.profile.id == work.profile.id %}
                    <a href="{% url 'profile' %}">{{work.profile.name}}</a>
                    {% else %}
                    <a href="{% url 'other_profile' work.profile.id %}">{{work.profile.name}}</a>
                    {% endif %}
                </div>
                <div class="photo-stats">
                    <p><i class="fas fa-thumbs-up"></i>{{work.appreciate_set.all.count}}</p>
                    
                </div>
            </div>
        </div>

        {% endfor %}


        
        
    </div>
</section>
{% if works.has_other_pages %}
        <div class="pagination">

                {% if works.has_previous %}
                <a href="?page={{works.previous_page_number}}">&#10094; Prev</a>
                {% endif %}

                {% for page in paginator.page_range %}

                {% if page == works.number %}
                <a href="?page={{page}}" style="background-color: #0057ff; color: white;" >{{page}}</a>
                {% else %}
                <a href="?page={{page}}">{{page}}</a>
                {% endif %}
                {% endfor %}
                {% if works.has_next %}
                <a href="?page={{works.next_page_number}}">Next &#10095;</a>
                {% endif %}



        </div>
        {% endif %}




{% endblock content %}
