<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="/profile/profile.css">
    <title>Jordan Dice on Behance</title>
</head>
<body>
    
     <!-- Header Bar Starts Here -->
     <header>
        <div class="left-nav">
            <a href="./"><img src="/images/behance logo.svg" alt=""></a>
            <ul>
                <li>For You</li>
                <li><a href="/galleries.html">Discover</a></li>
                <li>Livestreams</li>
                <li>Jobs</li>
            </ul>
        </div>
        <div class="input-container">
            <input type="text" name="" id="" placeholder="Search..">
            <img src="/images/search-icon.png" alt="">
        </div>
        <div class="right-nav">
            <button>Share Your Work</button>
            <i class="fas fa-envelope"></i>
            <i class="fas fa-bell"></i>
            <a href="/profile.html">
            <div class="profile">
                <img src="/images/users/user1.jpg" alt="">
            </div></a>
            <img src="/images/adobe-logo.png" alt="">
        </div>
    </header>
        <!-- Header Bar Ends Here -->   

    <section class="profile-container">
        <!-- Banner Image -->
        <div class="banner-position">
            <img src="/images/users/jordan-dice-banner-1.jpg" alt="">
        </div>

        <div class="menu-wrapper">
            <div class="menu-options">
                <button>Work</button>
                <button>Moodboards</button>
                <button>Appreciations</button>
            </div>

            <!-- Works Projects Display -->
            <!-- Project Section Starts Here -->
            <div class="project-container">
                <div class="project-wrapper">
                    <!-- First Project Card -->
                    <div class="projects">
                        <img src="/images/projects/image 1.png" alt="">
                        <div class="projects-info">
                            <h4>Material Design UI Starter</h4>
                            <div class="user-stats">
                                <div class="user">
                                    <p>Richard Hendrik</p>
                                </div>
                                <div class="photo-stats">
                                    <p><i class="fas fa-thumbs-up"></i>425</p>
                                    <p><i class="fas fa-eye"></i>2.3k</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Card -->
                    <div class="projects">
                        <img src="/images/projects/" alt="">
                        <div class="projects-info">
                            <h4>Project Name Here</h4>
                            <div class="user-stats">
                                <div class="user">
                                    <p>Username here</p>
                                </div>
                                <div class="photo-stats">
                                    <p><i class="fas fa-thumbs-up"></i>Likes</p>
                                    <p><i class="fas fa-eye"></i>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Card -->
                    <div class="projects">
                        <img src="/images/projects/" alt="">
                        <div class="projects-info">
                            <h4>Project Name Here</h4>
                            <div class="user-stats">
                                <div class="user">
                                    <p>Username here</p>
                                </div>
                                <div class="photo-stats">
                                    <p><i class="fas fa-thumbs-up"></i>Likes</p>
                                    <p><i class="fas fa-eye"></i>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Card -->
                    <div class="projects">
                        <img src="/images/projects/" alt="">
                        <div class="projects-info">
                            <h4>Project Name Here</h4>
                            <div class="user-stats">
                                <div class="user">
                                    <p>Username here</p>
                                </div>
                                <div class="photo-stats">
                                    <p><i class="fas fa-thumbs-up"></i>Likes</p>
                                    <p><i class="fas fa-eye"></i>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Card -->
                    <div class="projects">
                        <img src="/images/projects/" alt="">
                        <div class="projects-info">
                            <h4>Project Name Here</h4>
                            <div class="user-stats">
                                <div class="user">
                                    <p>Username here</p>
                                </div>
                                <div class="photo-stats">
                                    <p><i class="fas fa-thumbs-up"></i>Likes</p>
                                    <p><i class="fas fa-eye"></i>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Project Card -->
                    <div class="projects">
                        <img src="/images/projects/" alt="">
                        <div class="projects-info">
                            <h4>Project Name Here</h4>
                            <div class="user-stats">
                                <div class="user">
                                    <p>Username here</p>
                                </div>
                                <div class="photo-stats">
                                    <p><i class="fas fa-thumbs-up"></i>Likes</p>
                                    <p><i class="fas fa-eye"></i>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    
                </div>
            </div>
        </div>


        <!-- User Profile Card -->
        <div class="profile-card">
            <div class="profile-pic">
                <img src="/images/users/user1.jpg" alt="">
            </div>
            <h2>Jordan Dice</h2>
            <h4>UI/UX Designer</h4>
            <div class="user-location">
                <p><i class="fas fa-map-marker-alt"></i>United Kingdom</p>
            </div>
            <button><i class="fas fa-plus-circle"></i>Follow</button>
            <button class="message"><i class="fas fa-envelope"></i>Message</button>
            <div class="profile-stats">
                <div>
                    <p>Project Views</p>
                    <p>108,026</p>
                </div>
                <div>
                    <p>Appreciations</p>
                    <p>11,137</p>
                </div>
                <div>
                    <p>Followers</p>
                    <p>1,361</p>
                </div>
                <div>
                    <p>Following</p>
                    <p>321</p>
                </div>
            </div>
            <div class="social-icons">
                <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="" target="_blank"><i class="fab fa-dribbble"></i></a>
                <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="social-texts">
                <a href="" target="_blank"><p>Facebook <i class="fas fa-long-arrow-alt-right"></i></p></a>
                <a href="" target="_blank"><p>Dribble <i class="fas fa-long-arrow-alt-right"></i></p></a>
                <a href="" target="_blank"><p>Linkedin <i class="fas fa-long-arrow-alt-right"></i></p></a>
                <a href="" target="_blank"><p>Instagram <i class="fas fa-long-arrow-alt-right"></i></p></a>
                <a href="" target="_blank"><p>Email <i class="fas fa-long-arrow-alt-right"></i></p></a>
            </div>
            <div class="profile-contact">
                <p>CONTACT INFORMATION</p>
                <small>xyz@gmail.com</small>
            </div>
            <p>MEMBER SINCE: SEPTEMBER 21, 2017</p>
        </div>




    </section>
    


</body>
</html>