{% extends 'main.html' %}

{% block content %}

{% if page == 'register' %}
<h1>signup</h1>
<form method="POST" action="{% url 'register' %}" >
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="signup">
</form>

{% else %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>

{% endif %}

{% endblock content %}