{% extends 'main.html' %}
{% load static %}

{% block content %}


<section class="profile-container">
    <div class="banner-position">
        <img src="{{profile.coverimage.url}}" alt="">
    </div>

    <div class="menu-wrapper">
        <div class="menu-options">
            <button>Work</button>
            <button>Livestreams</button>
            <button>Moodboards</button>
            <button>Appreciations</button>
            <button>Insights</button>
            <button>Drafts</button>
        </div>
         <!-- Project Section Starts Here -->
        <div class="project-container">
        <div class="project-wrapper">
        {% for work in works %}
        <!-- First Project Card -->
        <div class="projects">
            <img src="{{work.Cover.url}}" alt="">
            <div class="projects-info">
                <h4>{{work.title}}</h4>
                <div class="user-stats">
                    <div class="user">
                        <p>{{work.profile}}</p>
                        
                    </div>
                    <div class="photo-stats">
                        <p><i class="fas fa-thumbs-up"></i>{{work.appreciate_set.all.count}}</p>
                        <a style="color: white;" href="{% url 'updatework' work.id %}">Edit</a>
                        <a style="color: white;" href="{% url 'deletework' work.id %}">Delete</a>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>

    <div class="profile-card">
        <div class="profile-pic">
            <img src="{{profile.dp.url}}" alt="">
        </div>
        <h2>{{profile.name}}</h2>
        <div class="user-location">
            <p><i class="fas fa-map-marker-alt"></i>United Kingdom</p>
        </div>
        <button><i class="fas fa-pen"></i><a href="{% url 'edit-account' %}">Edit Your Profile</a></button>
        <p>MEMBER SINCE: SEPTEMBER 21, 2017</p>
    </div>




</section>
{% endblock content %}
