
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Behance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <section class="signup-container">
        <div class="logo-wrapper">
            
        </div>
    <div class="signup-form-wrapper">
        <div class="signup-form-box">
            <h2>Create an account</h2>
            <h4>Already have an account? <span><a href="{% url 'login' %}">Sign in</a></span></h4>
            
            <!-- Signup Form -->
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-container">
                    
                    {% for field in form %}
                    <div>
                    <label for="email">{{field.label}}</label>
                    {{field}}
                    </div>
                    {% endfor %}
                    <button type="submit" class="create-account-button">Create account</button>
                </div>    
            </form>
            <!-- Signup Form Ends-->
            <!-- Signup Form Ends-->
            
            <button class="facebook-login"><a href="#"><i class="fab fa-facebook-square "></i>Continue with Facebook</a></button>
            <button class="google-login"><a href="#"><i class="fab fa-google"></i>Continue with Google</a></button>
        </div>
    </div>
</section>
</body>
</html>