

    <section>
        <div class="messaging-box">
            
            <!-- Right SIde Messaging Box -->
            <div class="messaging-box-right">
                <div class="messaging-box-right-headerbar">
                    <a href="/inbox.html"><i class="fas fa-arrow-left fa-lg"></i></a>
                    <img src="/images/users/jordan-dice-dp.jpg" alt="">
                    <p>Message with <span><a href="/user/jordan-dice.html">Jordan Dice</a></span></p>
                </div>
                <div class="messaging-box-right-chats">
                </div>
                <div class="messaging-box-right-type-message">
                    <input type="text" placeholder="Reply to Jordan Dice">
                </div>
            </div>





        </div>
    </section>


