{% load static %}
<header>
    <div class="left-nav">
        <a href="{% url 'work' %}"><img src="{% static 'image/behance logo.svg' %}" alt=""></a>
        <ul>
            
            <li>Discover</li>
            {% if request.user.is_authenticated %}
            <li><a style="text-decoration: none; color: black; " href="{% url 'logout' %}">logout</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="input-container">
        <form action="{% url 'search' %}" method="get">

        <input type="text" placeholder="Search.." name="search_query" value="{{search_query}}">
        <img src="{% static 'image/search-icon.png' %}" alt="">
        </form>
    </div>
    <div class="right-nav">
        
        {% if request.user.is_authenticated %}
        <button><a style="text-decoration: none; color: black;" href="{% url 'creatework' %}">Share you work</a></button>
        <i class="fas fa-envelope"></i>
        <i class="fas fa-bell"></i>
        <a href="{% url 'profile' %}"><div class="profile">
            <img src="{{user.profile.dp.url}}" alt="">
        </div></a>
        
            
        {% else %}
        <button style="width: 100px;" > <a style="text-decoration: none; color: black; " href="{% url 'login' %}">Login</a></button>
        <button style="background-color: #0057ff; width: 100px;"> <a style="text-decoration: none; color: white;" href="{% url 'register' %}">Signup</a></button>
        {% endif %}
        <img src="{% static 'image/adobe-logo.png' %}" alt="">
    </div>
</header>



