<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="/discover/gallery-project.css">
    <title>Project Name | Behance</title>
</head>
<body>
    <!-- Header Bar Starts Here -->
    <header>
        <div class="left-nav">
            <a href="./"><img src="/images/behance logo.svg" alt=""></a>
            <ul>
                <li>For You</li>
                <li><a href="/galleries.html">Discover</a></li>
                <li>Livestreams</li>
                <li>Jobs</li>
            </ul>
        </div>
        <div class="input-container">
            <input type="text" placeholder="Search..">
            <img src="/images/search-icon.png" alt="">
        </div>
        <div class="right-nav">
            <button>Share Your Work</button>
            <a href="/inbox.html"><i class="fas fa-envelope"></i></a>
            <i class="fas fa-bell"></i>
            <a href="/profile.html">
            <div class="profile">
                <img src="/images/users/user1.jpg" alt="">
            </div></a>
            <img src="/images/adobe-logo.png" alt="">
        </div>
    </header>
        <!-- Header Bar Ends Here -->

    <!-- First Section Project Name User Details Starts Here-->
    <div class="project-details-wrapper">
        <img src="/images/projects/image 1.png" alt="">
        <div>
            <p>Project Name World</p>
            <h5><a href="/user/jordan-dice.html">Jordan Dice</a></h5>
        </div>
        <ul>
            <li>Follow</li>
        </ul>
    </div>
    <!-- First Section Project Name User Details Ends Here-->
    
    
    <section>
        <!-- Project Images -->
        <div class="project-showcase-wrapper">
            <img src="/images/projects/project-img1.jpg" alt="">
            <img src="/images/projects/project-img2.jpg" alt="">
            <img src="/images/projects/project-img3.jpg" alt="">
            <!-- Add more showcase images -->
            <!-- <img src="/images/projects/" alt="">
            <img src="/images/projects/" alt="">
            <img src="/images/projects/" alt=""> -->
        </div>

        <!-- Project Comments, Follow, Tags Start Here-->
        <div class="project-adds-options">
            <div class="add-comments">
                <div class="userdp-commentbox">
                    <img src="/images/users/user1.jpg" alt="">
                    <textarea name="text" id="" placeholder="What are your thoughts on this project?"></textarea>
                </div>
                <button>Post a Comment</button>
            </div>

            <div class="user-details">
                <small>owner</small>
                <div class="user">
                    <img src="/images/users/jordan-dice-dp.jpg" alt="">
                    <div>
                        <p><a href="/user/jordan-dice.html">Jordan Dice</a></p>
                        <h5><i class="fas fa-map-marker-alt"></i>United Kingdom</h5>
                    </div>
                </div>
            <button>Follow</button>
            <button class="hire-button">Hire Us</button>
            </div>

            <div class="comments-shows">

                <div class="user">
                    <img src="/images/users/jordan-dice-dp.jpg" alt="">
                    <div>
                        <h5><a href="#">Amy Abraham</a></h5>
                        <p>the colors are great</p>
                    </div>
                </div>

                <!-- Another User comment -->
                <div class="user">
                    <img src="/images/users" alt="">
                    <div>
                        <h5><a href="#">Username</a></h5>
                        <p>the colors are great</p>
                    </div>
                </div>

                <!-- Another User comment -->
                <div class="user">
                    <img src="/images/users" alt="">
                    <div>
                        <h5><a href="#">Username</a></h5>
                        <p>the colors are great</p>
                    </div>
                </div>

                <!-- Another User comment -->
                <div class="user">
                    <img src="/images/users" alt="">
                    <div>
                        <h5><a href="#">Username</a></h5>
                        <p>the colors are great</p>
                    </div>
                </div>

                <!-- Another User comment -->
                <div class="user">
                    <img src="/images/users" alt="">
                    <div>
                        <h5><a href="#">Username</a></h5>
                        <p>the colors are great</p>
                    </div>
                </div>

                <!-- Another User comment -->
                <div class="user">
                    <img src="/images/users" alt="">
                    <div>
                        <h5><a href="#">Username</a></h5>
                        <p>the colors are great</p>
                    </div>
                </div>
                
            </div>


            <div class="project-tags-list">
                <button>design</button>
                <button>website</button>
                <button>Web</button>
                <button>UI UX</button>
                <button>branding</button>
                <button>logo</button>
                <button>typography</button>
                <!-- Add more buttons -->
                <button>typography</button>
                <button>typography</button>
                <button>typography</button>
                <button>typography</button>
            </div>

        </div>
        <!--  Project Comments, Follow, Tags Ends Here -->
    </section>

    <aside class="side-box">
        <div class="side-box-user-follow">
            <img src="/images/users/jordan-dice-dp.jpg" alt="">
            <small>Follow</small>
        </div>
        <div class="side-box-hire-us">
            <div>
                <i class="fas fa-envelope"></i>
            </div>
            <small>Hire Us</small>
        </div>
        <!-- <div class="side-box-tools"></div> -->
        <div class="side-box-save">
            <div>
                <i class="fas fa-folder-open"></i>
            </div>
            <small>Save</small>
        </div>
        <div class="side-box-appreciate">
            <div>
                <i class="fas fa-thumbs-up"></i>
            </div>
            <small>Appreciate</small>
        </div>
    </aside>
    


</body>